<div id="back" class="back"></div>
<div id="heart" class="heart"></div>

<!-- Intro -->
<section id="content-section">
    <div id="intro" class="layout">
        <h2 class="section-title">Happy Valentines Day <br>
            <h6>- Babe, Honey Bun, Beautiful -</h6>
        </h2>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('intro', 'step1')"></div>
    </div>
    <div id="step1" class="layout" style="display: none;">
        <h3 class="section-title">To my stunning girlfriend<br>...</h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step1','step2')"></div>
    </div>
    <div id="step2" class="layout" style="display: none;">
        <h3 class="section-title">To my lottery ticket<br>...</h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step2','step3')"></div>
    </div>
    <div id="step3" class="layout" style="display: none;">
        <h3 class="section-title">To my one and only<br>...</h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step3','step4')"></div>
    </div>
    <div id="step4" class="layout" style="display: none;">
        <h5 class="section-title section-title2">You absolutley amaze me, words can't describe how much you mean to me. You've brought balance, excitement, and most importantly happiness to my life. I honestly can't imagine it without you.</h5>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step4','step5')"></div>
    </div>
    <div id="step5" class="layout" style="display: none;">
        <h3 class="section-title section-title2">Since I've met you, there hasn't been a single day I haven't thought of you.</h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step5','step6')"></div>
    </div>
    <div id="step6" class="layout" style="display: none;">
        <h3 class="section-title section-title2">The way I feel about you, I've never felt with anyone else.</h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step6','step7')"></div>
    </div>
    <div id="step7" class="layout" style="display: none;">
        <h3 class="section-title section-title2">I love everything about you, your infectious smile, laugh, humor, kindness, confidence, and so much more. As days go by I always find more reasons to love you more. </h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step7','step8')"></div>
    </div>
    <div id="step8" class="layout" style="display: none;">
        <h3 class="section-title section-title2">I'm so excited for whats to come and what our future has instored for us. There is literally no one I'd rather spend Valentines with other than you.</h3>
        <svg><use xlink:href="#icon-chevron"></use></svg>
        <div class="arrow" (click)="next('step8','step9')"></div>
    </div>
    <div id="step9" style="display: none;">
        <div style="text-align: center; width: 100%; position: absolute; z-index: 999999;">
            <h3 class="section-title section-title2" id="seeya">See Ya at 7:45!</h3>
        </div>
        <app-flower #flower></app-flower>
    </div>


</section>